*{
    box-sizing: border-box;
}
body{
    overflow:scroll;
    margin: 0;
    padding: 0;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.header{
    position: absolute;
    top: 0;
}
.container{
    width: 100%;
    height: 102px;
    background-color: #ffffff;
    padding:inherit;
    display: flex;
    border:6px ;
    border-bottom: solid  #ebeaea;
}
.nav-text{
    height: -4px;
    display: grid;
    column-gap: 24px;
    grid-template-columns: auto auto auto;
    padding: 42.5px;
    margin-right: -8rem;
    letter-spacing: .1em;
}
.nav-text a{
    text-decoration: none;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 16px;
    font-family: SoDoSans,Helvetica Neue,;
    letter-spacing: 0.1rem;
    color: rgb(0, 0, 0);
}
.sb-logo{
    width: 50px;
    padding: inherit;
    margin-left: 40px;
    margin-top: 25px;
}
.map-pin{
    width: 24px;
}
.location-nav{
    display: flex;
    column-gap: 13px;
    font-size: 13px;
    font-weight: 400;
    letter: spacing 0.1em;px;
    
}
.location-nav p{
    color: rgb(0, 0, 0);
    display: flex;
    font-weight: 700;
}
.login-text{
    
    display: flex;
    padding-left: 740px;
    align-items: center;
    justify-content:space-between;
    
}
.login-text a{
display: flex;
text-decoration: none;
color: black;
align-items: center;
justify-content: space-between;
}
.sign-btn{
    border-color: rgb(0, 0, 0);
    min-width: 82px;
    min-height: 30px;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 14px;
    border-width: 1px;
    border-radius: 50px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    transition: .2s ease;
    margin-left: 20px;
    font-size: 13px;
}
.join-btn{
    margin-left: 16px;
    height: 40px;
    border-width: 1px;
    border-radius: 50px;
    font-weight: 600;
    text-align: center;
    background-color: rgb(10 10 10);
    padding: 7px 16px;
    color: #ffffff;
    line-height: 0.2;
}

.image1{
    width: 100%;
    background: #1e3932;
    height: 100%;
}
.right-section1,path{
    background-color: #1e3932;
    width: 100%;
    height:auto;
    text-align: center;
}
.section1-text{
    margin-top: 100px;
    color: #ffff;
}
.right-section1 h1,p {
    color: #ffff;
    text-decoration: none;
    text-align: center;

}
.section1{
    display: flex;
    padding-top: 32px;
    height: auto;
    padding-left: 42px;
    padding-right: 42px;
}

.image2{
    width: 100%;
    background: #1e3932;
    height: 100%;
}
.left-section2{
    background-color: #1e3932;
    width: 100%;
    text-align: center;
}
.section2-text{
    margin-top: 300px;
    color: #ffff;
}
.right-section2 h1,p {
    color: #ffff;
    text-decoration: none;
    text-align: center;

}
.section2{
    display: flex;
    padding-top: 32px;
    padding-left: 42px;
    padding-right: 42px;
}

.image3{
    width: 100%;
    background: #1e3932;
    height: 100%;
}
.right-section3{
    background-color: #d40031;
    width: 100%;
    text-align: center;
}
.section3-text{
    margin-top: 100px;
    color: #ffff;
}
.right-section3 h1,p {
    color: #ffff;
    text-decoration: none;
    text-align: center;
}
.section3{
    display: flex;
    padding-top: 32px;
    padding-left: 42px;
    padding-right: 42px;
}

.image4{
    width: 100%;
    background: #1e3932;
    height: 100%;
}
.left-section4{
    background-color: #1e3932;
    width: 100%;
    text-align: center;
}
.section4-text{
    margin-top: 100px;
    color: #ffff;
}
.right-section4 h1,p {
    color: #ffff;
    text-decoration: none;
    text-align: center;

}
.section4{
    display: flex;
    padding-top: 32px;
    padding-left: 42px;
    padding-right: 42px;
}

.image5{
    width: 100%;
    background: #006241;
    height: 100%;
}
.right-section5{
    background-color: #006241;
    width: 100%;
    height:auto;
    text-align: center;
}
.section5-text{
    margin-top: 100px;
    color: #ffff;
}
.right-section5 h1,p {
    color: #ffff;
    text-decoration: none;
    text-align: center;

}
.section5{
    display: flex;
    padding-top: 32px;
    padding-left: 42px;
    padding-right: 42px;
}

.image6{
    width: 100%;
    background: #1e3932;
    height: 100%;
}
.left-section6{
    background-color: #1e3932;
    width: 100%;
    text-align: center;
}
.section6-text{
    margin-top: 100px;
    color: #ffff;
}
.right-section6 h1,p {
    color: #ffff;
    text-decoration: none;
    text-align: center;

}
.section6{
    display: flex;
    padding-top: 32px;
    padding-left: 42px;
    padding-right: 42px;
}

.section-last p{
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #000000;
    font-size: 13px;
    line-height: 1.8;
    box-sizing: inherit;
    text-align: center!important;
    
}
section-last1{
    padding: top 100px;
    padding-left: 40px;
    padding-right: 40px;

}
section-last2{
    padding: top 100px;
    padding-left: 40px;
    padding-right: 40px; 
}
section-last3{
    padding: top 32px;
    padding-left: 40px;
    padding-right: 40px; 
}
section-last4{
    padding: top 32px; 
    padding-left: 40px;
    padding-right: 40px;
}
section-last5{
    padding: top 32px;
    padding-left: 40px;
    padding-right: 40px; 
}

.btn{
    color: #fff;
    border-color: #fff;
    min-width: 35px;
    min-height: 35px;
    transform: scale(.95);
    background-color: hsla(0,0%,100%,.12);
    border-radius: 14px;
    box-sizing: inherit;
    cursor: default;
        border-style: solid;
        border-width: 1px;
        border-radius: 50px;
        padding: 7px 16px;
        font-weight: 600;
        line-height: 1.2;
        text-align: center;
        text-decoration: none;
        transition: all .2s ease;
}
.btn:hover{
    background:#0000007f, ;
}



.second{
    display: flex;
    justify-content:center;
    padding-top: 60px;
    box-sizing: inherit;
    background-color:#1b2421;
    color: rgb(241, 234, 234);
}
.third{
    display: flex;
    justify-content: space-between;
    margin: 50px 40px;
}
.third div{
    width: 200px;
}
.third h5{
    font-weight: 0.1rem;
    font-size: 1.2rem;
    color: black;
    white-space: nowrap;
}
.third p{
    width: 200px;
    color: gray;
    font-size: 1rem;
}
.forth i{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    color:rgb(0, 0, 0);
}
.forth p{
    color:black;
}
.forth hr{
    color: rgb(33, 25, 25);;
}
.net-logos{
    display: flex;
    letter-spacing: 1rem;
    padding;
    width: 40px;
}
.img1{
    margin-left: px;
}
